html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("bckg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Grid */

.AllGrid {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    margin-bottom: -40px;
}

/* .AllGrid>div {
    background: #eee;
}

.AllGrid>div:nth-child(odd) {
    background: #ddd;
} */

.title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-left: 30px;
    /* border: solid 1px red; */
    margin-top: -25px;
}

.nav {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 1;

    text-align: right;
    padding: 10px;
}

.p1 {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 5;

    width: 80vw;
    text-align: center;
}

.vid1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 10;
    /* padding:10px; */
}

.vid2 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 10;
        /* padding:10px; */

}

.vid3 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 10;
        /* padding:10px; */


    /* border: solid 1px blue; */
}

/* Page Title */

h1 {
    font-family: ff-dax-pro-condensed, sans-serif;
    /* font-weight: 700; */
    font-weight: 900;
    font-style: italic;
    font-size: 50px;
    letter-spacing: 5px;
    color: black;

}

#second {
    margin-left: 200px;
    margin-top: -45px;
}

/* Page Content */

h2 {
    font-family: ff-dax-pro-condensed,
        sans-serif;
    /* font-weight: 700; */
    font-weight: 1000;
    font-style: italic;
    font-size: 50px;
    /* letter-spacing: 5px; */
    /* border: 1px solid blue; */
    margin: -10px;
}

h3 {
    font-family: halogen,
        sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

p {
    font-family: halogen, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

    /* background: white; */
    padding: 5px;
    /* box-shadow: 5px 5px 8px 5px rgba(255,0,0, 1); */

    /* height:auto; */
}

/* Nav */

a {
    text-decoration: none;
}

.nav>a {
    font-family: halogen, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 25px;
    color: white;
    padding: 5px;
    text-shadow: 1px 1px black,
        -1px -1px black,
        1px -1px black,
        -1px 1px black;
    letter-spacing: 1px;
}

.nav>a:hover {
    font-family: halogen,
        sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 25px;
    color: black;
    padding: 5px;
    text-shadow: none;
}

#selected {
    font-family: halogen, sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 25px;
    color: black;
    padding: 5px;
    text-shadow: none;
}
